<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удалить аккаунт</title>
</head>
<body>
    <!-- Страница подтверждения удаления аккаунта -->
    <h2>Вы уверены, что хотите удалить аккаунт?</h2>

    <!-- Форма для подтверждения удаления аккаунта -->
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить аккаунт</button>
    </form>

    <!-- Ссылка для отмены действия и возврата к профилю -->
    <a href="{% url 'profile' %}">Отменить</a>
</body>
</html>
