<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
</head>
<body>

    <!-- Заголовок страницы изменения пароля -->
    <h2>Изменить пароль</h2>

    <!-- Форма для изменения пароля -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Изменить пароль</button>
    </form>

    <!-- Ссылка для отмены изменения пароля и возврата в профиль -->
    <p><a href="{% url 'profile' %}">Отменить</a></p>

</body>
</html>

