<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать профиль</title>
</head>
<body>
    <h2>Редактировать профиль</h2>

    <!-- Форма для редактирования обязательных данных -->
    <form method="post">
        {% csrf_token %}
        <h3>Обязательные данные</h3>
        {{ profile_form.as_p }}

        <h3>Необязательные данные</h3>
        {{ additional_info_form.as_p }}

        <button type="submit">Сохранить изменения</button>
    </form>

    <p><a href="{% url 'profile' %}">Отменить</a></p>
</body>
</html>
