<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <!-- Заголовок страницы авторизации -->
    <h2>Вход в систему</h2>

    <!-- Форма для авторизации пользователя -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Отображение полей формы авторизации (логин и пароль) -->
        <button type="submit">Войти</button>
    </form>

    <!-- Ссылка на регистрацию для пользователей, у которых нет учетной записи -->
    <p>Если Вы еще не зарегистрированы, то нажмите <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</body>
</html>
