<h2>Просмотр данных для {{ data.asset_name }}</h2>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.timestamp|date:"d.m.Y H:i" }}</td>
            <td>{{ row.open_price }}</td>
            <td>{{ row.high_price }}</td>
            <td>{{ row.low_price }}</td>
            <td>{{ row.close_price }}</td>
            <td>{{ row.volume }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
